@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-slate-900;
}

@layer components {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.8s ease-in-out;
  }

  .gradient-text {
    @apply bg-gradient-to-r from-emerald-400 to-emerald-600 bg-clip-text text-transparent;
  }
}
