@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-slate-900;
}

@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-emerald-400 to-emerald-600 bg-clip-text text-transparent;
  }
}
